<!doctype html>
<!-- https://github.com/paulirish/html5-boilerplate/blob/master/index.html -->
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
    {% block starthead %}{% endblock starthead %}
    <meta charset="{{ resource.meta.charset }}">

    <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
        Remove this if you use the .htaccess -->
    <meta http-equiv="X-UA-Compatible" content="{{ resource.meta.compatibility }}">

    <!-- encoding must be specified within the first 512 bytes
            www.whatwg.org/specs/web-apps/current-work/multipage/semantics.html#charset -->

    <!-- meta element for compatibility mode needs to be before
            all elements except title & meta
            msdn.microsoft.com/en-us/library/cc288325(VS.85).aspx -->
    <!-- Chrome Frame is only invoked if meta element for
            compatibility mode is within the first 1K bytes
            code.google.com/p/chromium/issues/detail?id=23003 -->

    <title>LONDON O'CONNOR</title>
    <meta name="description" content="{{ resource.meta.description }}">
    <meta name="author" content="{{ resource.meta.author }}">

    <!--  Mobile viewport optimized: j.mp/bplateviewport -->
    <meta name="viewport" content="{{ resource.meta.viewport }}">

    {% block favicons %}
        <!-- Place favicon.ico & apple-touch-icon.png
                in the root of your domain and delete these references -->
        <link rel="shortcut icon" href="{{ media_url('/images/favicon.ico') }}">
        <link rel="apple-touch-icon" href="{{ media_url('/images/apple-touch-icon.png') }}">
    {% endblock favicons %}

    {% block css %}
        <link rel="stylesheet" href="{{ media_url('css/site.css') }}">
        <link rel="stylesheet" href="{{ media_url('css/syntax.css') }}">
    {% endblock css %}

    {% block headjs %}
        <!-- All JavaScript at the bottom, except for Modernizr which
            enables HTML5 elements & feature detects -->
        <script src="{{ media_url('js/libs/modernizr-1.7.min.js') }}"></script>
    {% endblock headjs %}
    {% block endhead %}{% endblock endhead %}
</head>
<body id="{{ resource.meta.id if resource.meta.id else resource.slug }}">
    {% block content %}
        <div id="container">
            <img id="pause" src="{{ media_url('images/MUTE_SYMBOL.png') }}" />
            <div id="menuswrapper">
                <div id="dateslabel">
                    Date
                </div>
                <div id="logwrapper">
                    <div class="arrow flip">
                        <img src="{{ media_url('images/triangle.png') }}" />
                    </div>
                    <div id="dates"><div id="inner"></div></div>
                    <div class="arrow">
                        <img src="{{ media_url('images/triangle.png') }}" />
                    </div>
                </div>
                <img id="logo" src="{{ media_url('images/CT.png') }}" />
                <div id="menuwrapper">
                    <a href="#" class="menuitem utilities">Utilities</a>
                    <a href="#" class="menuitem album">Album
                        <img src="{{ media_url('images/CT_menu.png') }}" width="49px" />
                    </a>
                    <a href="#" class="menuitem soundcloud">Soundcloud</a>
                    <a href="https://www.instagram.com/londonoconnor/"
                       class="menuitem instagram" target="_blank">Instagram</a>
                    <a href="https://www.twitter.com/londonoconnor/"
                       class="menuitem twitter" target="_blank">Twitter</a>
                </div>
            </div>
            <div id="contentwrapper">
                <div id="album">
                    <img src="{{ media_url('images/album.JPG') }}" width="500px" />
                    <div id="albumtext">
                        Written, performed, produced by London O'Connor<br />
                        Cover art shot by Olivia Bee<br />
                        Mixed and mastered by Bob Power<br />
                        Recorded in my bedroom
                    </div>
                </div>
                <div id="soundcloud">
                    <iframe width="100%" height="600" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/users/892874&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
                </div>
                <div id="utilities">
                    <div class="arrow flip">
                        <img src="{{ media_url('images/triangle.png') }}" />
                    </div>
                    <div id="imgwrapper">
                    </div>
                    <div class="arrow">
                        <img src="{{ media_url('images/triangle.png') }}" />
                    </div>
                </div>
            </div>
        </div>
    {% endblock content%}
    {% block js %}
        <!-- Javascript at the bottom for fast page loading -->
        {% block jquery %}
            <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if necessary -->
            <script src="//ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.js"></script>
            <script>window.jQuery || document.write('<script src="js/libs/jquery-1.5.1.min.js">\x3C/script>')</script>
        {% endblock jquery %}

        <script type="text/javascript" src="{{ media_url('js/site.js') }}"></script>

        <!--[if lt IE 7 ]>
            <script src="js/libs/dd_belatedpng.js"></script>
            <script>DD_belatedPNG.fix('img, .png_bg'); // Fix any <img> or .png_bg bg-images. Also, please read goo.gl/mZiyb </script>
        <![endif]-->
    {% endblock js %}
</body>
</html>
